* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

/* --- TÍTULO --- */
.titulo {
    margin-bottom: 80px;
}

.titulo h1 {
    font-size: 3.5rem;
    font-weight: 650;
    line-height: 1.1;
    color: #000000;
    padding-top: 20px;
}

/* --- GALERÍA GRID --- */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 30px;
    align-items: start; /* Alinea las tarjetas al principio */
}

.card {
    display: flex;
    flex-direction: column;
}

.card h3 {
    font-size: 1.5rem;
    color: #888;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.4;
    margin-bottom: 25px;
    min-height: 40px; /* Mantiene los textos alineados */
}

/* --- IMÁGENES --- */
.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
